.contentTav{
	padding:15px; margin: auto; background-color:#aaa;font-family:'Open Sans',sans-serif,arial,helvetica,verdana; width: 80%; height: 100%;
}

.content2Tav{
	position:relative;margin:0 auto;top:0px;left:0px;width:100%;height:450px;overflow:hidden;visibility:hidden;background-color:#24262e;
}

.menuTav{
	position:absolute;top:0px;left:0px;background-color:rgba(0,0,0,0.7);
}

.menu1Tav{
	filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;
}

.menu2Tav{
	position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;
}

.contentIntroTav{
	cursor:default;position:relative;top:0px;left:0px;width:100%;height:356px;overflow:hidden;
}

.contentNavigatorTav{
	position:absolute;left:0px;bottom:0px;width:100%;height:100px;
}